/* Cabeçalho com botão de voltar */
.cabecalho-espera {
  background-color: #4A6FB4;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  color: white;
  gap: 15px;
}

.btn-voltar {
  background-color: #3B5A94; /* Tom um pouco mais escuro para o círculo */
  color: white;
  text-decoration: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
}

.cabecalho-espera h1 {
  font-size: 18px;
  font-weight: normal;
}

/* Container do Cartão Branco */
.cartao-detalhe {
  background-color: #ffffff;
  border: 1px solid #EAEAEA;
  border-radius: 12px;
  padding: 25px 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  margin-top: 10px;
}

.cartao-detalhe input{
  background-color: #ffffff;
  color: #000;
  height: 40px;
  width: 80%;
}
.escola-titulo {
  font-size: 16px;
  text-align: center;
  color: #000;
  margin-bottom: 4px;
}

.escola-subtitulo {
  font-size: 16px;
  text-align: center;
  color: #000;
  font-weight: normal;
  margin-bottom: 20px;
}

/* Área da tabela azul clara */
.caixa-lista {
  background-color: #E2F0F9;
  border-radius: 8px;
  padding: 15px 20px;
}

/* Alinhamento das linhas usando Flexbox */
.linha-cabecalho {
  display: flex;
  font-size: 18px;
  color: #000;
  margin-bottom: 15px;
}

.linha-item {
  display: flex;
  font-size: 18px;
  color: #000;
  margin-bottom: 12px;
}

/* Remove a margem do último item para não sobrar espaço embaixo */
.linha-item:last-child {
  margin-bottom: 0;
}

/* Proporção das colunas */
.col-n {
  width: 20%;
  text-align: left;
}

.col-nome {
  width: 60%;
  text-align: left;
}

.col-pts {
  width: 20%;
  text-align: right;
}